.card {
  border-radius: 14px;
  background-image: linear-gradient(
    to left,
    rgba(252, 195, 25, 0.7),
    rgba(240, 140, 0, 0.7)
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  padding: 12px 24px;
}
